.gJYWcm{
    padding: 10px 0;
}
.edit-icon{
    color: #fff;
}
.sc-fzqNJr{
    display: none !important;
}
.btn-fix{
    margin-left: 5px;
}
.spinner-fix{
    margin: 2px 6px;
}
.complain-btn-fix{
    margin-right: 10px;
}