@import "../../../common-assets/css/variables";
@import "../../../common-assets/css/rootui-parts/file-manager";
.gJYWcm {
    padding: 10px;
}
.byHFAZ{
    display: none !important;
}

.edit-icon{
    color: #fff;
}
